<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to the storage directory
    RewriteRule ^storage/.*$ - [F]

    # Redirect all other requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
